@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("./Bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    min-width: 400px;
    background: #af41d1;
    border-radius: 38px;
    text-align: center;
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
}

.content {
    padding: 0 40px;
}

.input {
    background: #7c4d8a;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 15px 0;
    margin-bottom: 15px;
}

.input label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    background-color: rgba(0, 0, 0, 0.15);
    width: 60%;
    text-align: center;
    font-size: 23px;
    font-family: "Nunito", sans-serif;
}

button#calculate {
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: linear-gradient(to right, #6515de 0%, #ca61ea 0%, #e36153 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 12px 0;
    width: 100%;
    outline: none;
    transition: background .6s ease;
}

button#calculate:hover {
    background: linear-gradient(to right, #2c0765 0%, #ca61ea 0%, #d122de 21%, #65057d 52%, #ef22ef 78%, #c30c80 100%);
}

.result {
    padding: 20px 20px;
}

.result p {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.result #result {
    font-size: 30px;
    font-weight: 900;
    color: #65057d;
    background-color: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 20px;
}
#comment{
    color: #0505a0;
    font-weight: 800;
}